.container {
    height: 80%;
    padding: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
    flex-direction: column;
}

/* HEADER */

.header {
    width: 440px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    min-height: 40px;
}

.email {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.logout {
    border: none;
    background-color: #353DF0;
    color: #fff;
    width: 50px;
    height: 30px;
    outline: none;
    cursor: pointer;
}

/* CHATS */

.allChats {
    width: 440px;
    overflow: scroll;
}

.profile {
    height: 62px;
    border-radius: 50%;
    background-color: #FACE52;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}

.text {
    background-color: #353DF0;
    color: #fff;
    padding: 10px;
}

.mychat .text {
    background-color: #E834EC;
}

.mychat .userNameTag {
    text-align: end;
}

.userNameTag {
    margin: 10px 0;
    color: grey;
}

/*FOOTER*/
.footer {
    border-top: 1px solid grey;
    min-height: 40px;
}

.attach {
    width: 74px;;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

.typing {
    width: 292px;
    color: grey;
    align-items: center;
    padding: 2%;
    outline: none;
    border: none;
}

.sendBtn {
    width: 74px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #353DF0;
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
}


/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #D5D5D5 #fff;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #fff;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #D5D5D5;
    border-radius: 20px;
    border: 3px solid #fff;
  }